
# outputs and errors files
*.out
*.err

# pycache exceptions
*/__pycache__/*
*.mypy_cache/
*.pyc*
*.pyc


*.pkl.gz
*.nfs*
*.coverage*

# work personal folder
work/

# build folder
dist/

# documentation folder
doc/build/
